html {
    scroll-behavior: smooth;
}


.premier-ecran,
.deuxieme-ecran {
    justify-content: center;
    height: 850px;
    /*background-color: #DFF2FF;*/
}

.premier-ecran {
    background-color: #DFF2FF;
}


.body-page-premier-ecran {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 17%;
    margin-right: 17%;
    margin-top: 8%;
}

.premier-ecran-gauche {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}

.premier-ecran-droite {
    width: 50%;
}

.premier-ecran-gauche h1 {
    font-size: xx-large;
}



.premier-ecran-droite img {
    opacity: 1;
    width: 50%;
    height: auto;
    transition: .5s ease;
    border-radius: 20px;
}

/* Rotation des images */
.premier-ecran-droite img:first-child {
    transform: rotate(-10deg) translateX(10px);
}

.premier-ecran-droite img:last-child {
    transform: rotate(5deg);
}



/*** les Bouton creer un menu : couleur du text **/
.premier-ecran-gauche button:last-child a {
    color: #FFFF;
}

/* Les 2 boutons de l'ecran 1 */
.premier-ecran-gauche button {
    border-radius: 30px;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    padding: 10px;
    border: none;
    width: 40%;
    margin-right: 10px;
}

.premier-ecran-gauche button a {
    text-decoration: none;
}

/* Bouton Creer un menu */
.premier-ecran-gauche button:last-child {
    background-color: aqua;
}

/* Bouton exemple de menu */
.premier-ecran-gauche button:first-child {
    background-color: #a6c7de;
}

/** Lien ou texte dans Bouton Exemple de menu  et titre h1**/
.premier-ecran-gauche button:first-child a,
h1 b {
    color: aqua;
}


/**************** DEUXIEME ECRAN ******************/

.deuxieme-ecran h2 {
    font-size: xx-large;
    font-weight: bold;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
}

/**** Conteneur deuxieme ecran ****/
.deuxieme-ecran>div {
    display: flex;
    flex-direction: row;
    margin-left: 20%;
    margin-right: 15%;
    height: 70%;
}

.deuxieme-ecran img {
    opacity: 1;
    width: 35%;
    height: auto;
    border-radius: 20px;
    border: 1px solid black;
}

.paragraph-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5vw;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 15%;
    /*width: 35%;
    height: 70%;*/
}