.header-menu{
    display: flex;
    flex-direction: row;
    max-width: 100%;
    border: 1px solid black;
    background-color: #41B562 ;
}
.header-menu img+img{
    width: 50px;
    height: 50px;
    max-width: 100%;
    margin-left: auto;
}

.header-menu img:nth-child(1){
    width: 100px;
    height: 80px;
    max-width: 100%;
    margin-left: 2%;
}

/*.header-menu{
    border: 1px solid black;
    max-width: 100%;
    background-color: #41B562 ;
}*/

/*.header-menu img+img{
    width: 300px;
    margin-left: 85%;
    height: auto;
}

*/